# Jogo único em estratégias puras (espaço finito e dois jogadores)

## O jogo em si:

Tal jogo é um jogo de um período composto por dois jogadores, cada um possuindo um espaço finito de estratégias puras.

* Estratégias puras: os jogadores não possuem incerteza sobre a tomada de ação. Ou seja, cada jogador irá jogar a estratégia $s_{j}$ ($j$ representa a $j$-ésima estratégia) com probabilidade $1$ e jogará as outras estratégias com probabilidade $0$;


* Um período: o jogo pode conter vários períodos (até uma quantidade infinita de períodos) nos quais os jogadores podem atuar. O jogo em questão possui somente um período;


* Espaço finito de estratégias: em cada período, cada jogador possui somente uma quantidade finita de estratégias/ações disponíveis para serem tomadas. Nesse caso, os jogadores não precisam possuir o mesmo número de estratégias disponíveis.

## Criação da representação do jogo:

Utiliza-se o pacote Pandas e o pacote Numpy para gerar o jogo. O produto final da representação consiste nas seguintes funções do módulo Jog2_T1_Fin_Pur:

* estrategias_payoffs(J1E, J2E, menor, maior): os parâmetros *J1E* e *J2E* são o número de estratégias disponíveis para os jogadores 1 e 2, respectivamente. São obrigatórios e devem ser numeros naturais. Já os parâmetros *menor* e *maior* se referem ao menor e ao maior payoffs possíveis no jogo. Isso porque iremos gerar os payoffs de forma aleatória uniforme. A função retorna os payoffs de um jogador. Para determinar os payoffs dos dois jogadores, basta determinar duas variáveis, cada uma chamando essa função uma vez (ver abaixo);


* jogo(payoff1, payoff2): os parâmetros *payoff1* e *payoff2* são os payoffs dos jogadores *1* e *2* gerados pela função acima. A função retorna a representação conjunta dos payoffs.

In [1]:
import Jog2_T1_Fin_Pur as jfp
payoff1 = jfp.estrategias_payoffs(8, 8, -100, 100)
payoff2 = jfp.estrategias_payoffs(8, 8, -100, 100)

In [2]:
payoff1

       s_1    s_2    s_3    s_4    s_5    s_6    s_7    s_8
s_1 -65.56  17.46  65.70  75.05  12.64 -88.20  29.53 -16.07
s_2  79.04  43.30  99.52 -92.04 -93.06  61.43  39.25   8.18
s_3  28.57 -21.45  90.01  96.33 -80.79  94.52 -77.99 -30.79
s_4 -67.91  77.88  32.28 -35.77 -90.44 -19.43  80.50  98.52
s_5  -6.51 -30.31  62.13 -83.49  62.28  67.95  83.49  68.55
s_6 -58.39 -34.57  92.02  14.63 -39.24   0.27 -84.97  32.34
s_7 -72.83 -30.99  25.20  -6.45 -32.88  29.33  56.47  42.95
s_8 -89.35 -39.08   8.90 -32.17 -93.02 -61.17  73.53  85.69

In [3]:
payoff2

       s_1    s_2    s_3    s_4    s_5    s_6    s_7    s_8
s_1 -43.90  96.80  97.03 -48.07  63.22   7.71 -72.65  45.05
s_2 -51.03  56.83  78.61 -63.43 -18.33  74.00 -94.62  71.59
s_3 -15.40  85.63  32.52  -1.92 -58.41  10.77 -97.92  15.89
s_4  -4.87 -54.57 -64.59 -47.31 -95.28 -86.89  46.13  58.42
s_5  21.01 -53.86  54.82 -47.47 -98.81 -64.33 -86.56 -40.00
s_6  47.91  10.88 -55.94 -77.12 -53.82  67.27  60.54  11.29
s_7  46.47 -97.26 -55.04 -86.60  83.44  -6.71 -75.30 -23.91
s_8 -72.56 -49.54  87.35  -9.06 -27.21 -80.91  38.38  33.25

In [4]:
jfp.jogo(payoff1, payoff2)

,s_1,s_2,s_3,s_4,s_5,s_6,s_7,s_8
s_1,"-65.56, -43.9","17.46, 96.8","65.7, 97.03","75.05, -48.07","12.64, 63.22","-88.2, 7.71","29.53, -72.65","-16.07, 45.05"
s_2,"79.04, -51.03","43.3, 56.83","99.52, 78.61","-92.04, -63.43","-93.06, -18.33","61.43, 74.0","39.25, -94.62","8.18, 71.59"
s_3,"28.57, -15.4","-21.45, 85.63","90.01, 32.52","96.33, -1.92","-80.79, -58.41","94.52, 10.77","-77.99, -97.92","-30.79, 15.89"
s_4,"-67.91, -4.87","77.88, -54.57","32.28, -64.59","-35.77, -47.31","-90.44, -95.28","-19.43, -86.89","80.5, 46.13","98.52, 58.42"
s_5,"-6.51, 21.01","-30.31, -53.86","62.13, 54.82","-83.49, -47.47","62.28, -98.81","67.95, -64.33","83.49, -86.56","68.55, -40.0"
s_6,"-58.39, 47.91","-34.57, 10.88","92.02, -55.94","14.63, -77.12","-39.24, -53.82","0.27, 67.27","-84.97, 60.54","32.34, 11.29"
s_7,"-72.83, 46.47","-30.99, -97.26","25.2, -55.04","-6.45, -86.6","-32.88, 83.44","29.33, -6.71","56.47, -75.3","42.95, -23.91"
s_8,"-89.35, -72.56","-39.08, -49.54","8.9, 87.35","-32.17, -9.06","-93.02, -27.21","-61.17, -80.91","73.53, 38.38","85.69, 33.25"

## Encontrando os Equilíbrios de Nash em estratégias puras:

A função solve(payoff1, payoff2) resolve o jogo acima e retorna os Equilíbrios de Nash (em estratégias puras) do mesmo. Os parâmetros *payoff1* e *payoff2* são os mesmos da função jogo(payoff1, payoff2).

In [5]:
jfp.solve(payoff1, payoff2)

array(['s_2, s_3', 's_4, s_8'], dtype=object)