# Jogo único em estratégias mistas (duas estratégias e dois jogadores)

## O jogo em si:

Tal jogo é um jogo de um período composto por dois jogadores, cada um possuindo um espaço 2x2 de estratégias mistas.

* Estratégias mistas: os jogadores possuem incerteza sobre a tomada de ação. Ou seja, cada jogador irá jogar a estratégia $s_{j}$ ($j$ representa a $j$-ésima estratégia) com probabilidade/frequência $p_j$ (a soma das frequências de cada jogador é $1$);


* Um período: o jogo pode conter vários períodos (até uma quantidade infinita de períodos) nos quais os jogadores podem atuar. O jogo em questão possui somente um período;


* Espaço de duas estratégias: em cada período, cada jogador possui somente duas estratégias/ações disponíveis para serem tomadas.

## Criação da representação do jogo:

O módulo que se relaciona com esse notebook se chama Jog2_T1_2x2_Mis. Nele se encontram as funções de representação do jogo, assim como a função que encontra os Equilíbrios de Nash (todos os EN) do mesmo. Para a representação do jogo, temos as seguintes funções:

* estrategias_payoffs(menor, maior): os parâmetros *menor* e *maior* se referem ao menor e ao maior payoffs possíveis no jogo. Isso porque iremos gerar os payoffs de forma aleatória uniforme. A função retorna os payoffs de um jogador. Para determinar os payoffs dos dois jogadores, basta determinar duas variáveis, cada uma chamando essa função uma vez (ver abaixo);


* jogo(payoff1, payoff2): os parâmetros *payoff1* e *payoff2* são os payoffs dos jogadores *1* e *2* gerados pela função acima. A função retorna a representação conjunta dos payoffs.

In [1]:
import Jog2_T1_2x2_Mis as j2m
payoff1 = j2m.estrategias_payoffs(-100, 100)
payoff2 = j2m.estrategias_payoffs(-100, 100)

In [2]:
payoff1

       s_1    s_2
s_1  61.26  -6.09
s_2  -4.49  96.14

In [3]:
payoff2

       s_1    s_2
s_1  83.88  48.30
s_2  61.30  68.48

In [4]:
j2m.jogo(payoff1, payoff2)

              s_1           s_2
s_1  61.26, 83.88   -6.09, 48.3
s_2   -4.49, 61.3  96.14, 68.48

In [5]:
j2m.solve(payoff1, payoff2)

            s_1       s_2
Jog 1  0.167914  0.832086
Jog 2  0.608584  0.391416